$lg-column-count   : 8;
$lg-column-width   : 6em;
$lg-gutter-width   : 1em;
$lg-grid-padding   : $lg-gutter-width;

$lg-medium-screen  : 40em;
$lg-large-screen   : 50em;

$lg-col-float      : left;
$lg-last-col-float : left;
$lg-clear-floats   : true;

$lg-oldie-support  : false;